{% extends 'base.html'%} {%block content %}
<div class="container">
  <h1>{{tag.name}}</h1>
  <ul>
    {% for post in tag.posts %}
    <li>
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </li>
    {% endfor %}
  </ul>
  <div class="row">
    <button class="btn btn-info btn-sm">Edit</button>
    <form action="/tags/{{tag.id}}/delete" method="Post">
      <button class="btn btn-danger btn-sm ml-2">Delete</button>
    </form>
    <a href="/tags" class="btn btn-secondary btn-sm ml-2">Go back!</a>
  </div>
</div>
{% endblock %}
